<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello MOM&#39;S - website pilihan ibu pintar</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
/>
  </head>
  <body>
    <header class="page-header">
      <h1>  
    <div class="container">
      <div class="page-header__content">
        <div class="d-flex" >
          
              <div class="d-flex justify-content-center">
              <img src="http://localhost:8055/assets/46d36517-5b7e-4963-9456-6cc435406275?access_token=hellomoms" style="width:50px;height:50px">
          
          
          <h1 style="margin-right:150px">Hello MOM'S</h1>
          
        </div>
        <nav>
          <ul role="list" class="nav-list flex-group ml-3">
            <li>
              <a href="/">Beranda</a>
            </li>
            <li>
              <a href="#about">Tentang Kami</a>
            </li>
            <li>
              <a href="#featured-articles">Artikel</a>
            </li>
            <li>
              <a href="/news">News</a>
            </li>
          </ul>
        </nav>
      </div>
    </div></h1>
    </header>
    <main>
      

      
      
                        
                        
                        
                              
                              
                                    
                              
                        
                        
                  
                        
      
            
      


<pre> &quot;data&quot; </pre>

<ul role="list" class="articles_list flow">
 <article class="snippet">
      <img 
      src="http://localhost:8055/assets/11cf6da9-e50c-48ae-bb6c-bd8ca5bac269?access_token=hellomoms"
      alt="This is a test"
      class="snippet__image"
      />
      <h3 class="snippet__title"> 5 Cara Menjaga Kesehatan Keluarga</h3>
      <p class="snippet__meta"> by <span> </a> wahyu nugroho on 2022-03-07T07:12:29.000Z</span></p>
      <p class="snippet__body mt-5 text-justify">Seperti kata pepatah, keluarga adalah harta yang tak ternilai harganya. Oleh karena itu, cara menjaga kesehatan keluarga yang baik dan benar perlu diketahui setiap anggota keluarga. Dengan demikian, keluarga pun akan terlindungi dari ancaman berbagai jeni</p>
 </article>
      <p class="snippet__body mt-5 text-justify">Menjaga kesehatan keluarga memang tak semudah yang dibayangkan. Perbedaan usia, aktivitas sehari-hari, jenis kelamin, dan bahkan kondisi kesehatan masing-masing anggota keluarga dapat menjadi tantangan tersendiri dalam menjaga kesehatan keluarga secara optimal.

Saat kesehatan terabaikan, risiko terjadinya berbagai macam penyakit, mulai dari flu, diare, COVID-19, bahkan hingga penyakit jangka panjang, seperti diabetes dan penyakit jantung, dapat mengintai Anda dan anggota keluarga tercinta.

Cara Menjaga Kesehatan Keluarga
Guna menjaga kesehatan bersama, ada beberapa cara yang dapat Anda dan anggota keluarga terapkan di dalam kehidupan sehari-hari, antara lain:

1. Olahraga secara rutin
Idealnya, setiap orang perlu berolahraga selama 30 menit dalam sehari atau 150 menit dalam seminggu. Namun terkadang, menyisihkan waktu untuk berolahraga setiap hari sulit dilakukan. Terlebih bila setiap anggota keluarga memiliki rutinitas harian dan waktu luang yang berbeda.

Bila keluarga Anda mengalami hal tersebut, Anda dapat mencoba menjadwalkan olahraga rutin pada akhir pekan. Setelah itu, pilihlah jenis olahraga yang mudah untuk dilakukan bersama, seperti jogging, bersepeda, atau jalan santai.

Tak sekadar menjaga kebugaran tubuh, olahraga yang Anda dan keluarga lakukan dapat menjadi sarana untuk mempererat dan menjaga hubungan tetap harmonis dan hangat.

2. Cukupi waktu istirahat
Mencukupi waktu tidur memberikan segudang manfaat baik bagi kesehatan, mulai dari menyegarkan pikiran dan tubuh untuk kembali beraktivitas, meningkatkan daya ingat, hingga menjaga kesehatan jantung.

Sebaliknya, kurang tidur akibat begadang dapat meningkatkan risiko terjadinya berbagai masalah kesehatan, mulai dari peningkatan berat badan, penurunan daya ingat, hingga penyakit jangka panjang, seperti diabetes dan penyakit jantung.

Oleh karena itu, guna menghindari risiko terjadinya masalah kesehatan tersebut, setiap anggota keluarga perlu memenuhi waktu tidur atau istirahat sesuai kebutuhannya masing-masing, yaitu 7–9 jam untuk orang dewasa dan 10–13 jam untuk anak-anak.

3. Jaga kebersihan tubuh
Menjaga kebersihan tubuh dengan baik merupakan salah satu cara paling efektif untuk melindungi diri dan orang yang Anda sayangi dari serangan berbagai macam penyakit, seperti diare, kudis, trakoma, dan bahkan COVID-19.

Beberapa hal yang dapat dilakukan untuk menjaga kebersihan tubuh adalah mandi dan keramas secara teratur, menyikat gigi 2 kali sehari, memotong kuku, mengganti baju setelah beraktivitas di luar ruangan, serta mencuci tangan dengan benar, terutama sebelum makan dan setelah dari toilet.

Anda sebaiknya mengajak anak untuk melakukan berbagai kegiatan tersebut sedari dini agar ia lebih terbiasa nantinya. Tekankan juga kepadanya bahwa manfaat menjaga kebersihan tubuh tak hanya dirasakan sendiri, tetapi juga orang-orang yang disayangi.

4. Jaga kebersihan lingkungan sekitar
Lingkungan sekitar, terutama rumah, yang jarang dibersihkan bisa menjadi sarang kuman dan hama penyakit, seperti kecoa dan tikus, untuk berkembang biak. Hal ini dapat membuat Anda dan keluarga akan lebih mudah terserang penyakit.

Untuk mencegah terjadinya hal tersebut, luangkanlah waktu beberapa menit setiap hari untuk membersihkan rumah, seperti mengelap perabot dan furnitur, menyapu dan mengepel lantai, dan membersihkan area dapur.

Selain itu, buanglah peralatan atau benda yang tidak diperlukan dan berpotensi menjadi tempat menumpuknya debu dan kuman. Bila perlu, gunakan juga humidifier atau pendingin ruangan agar jamur tidak mudah berkembang biak.

5. Konsumsi makanan sehat bernutrisi
Beberapa penelitian menunjukkan bahwa orang yang memasak makanannya sendiri dapat memperoleh asupan nutrisi yang lebih baik dibandingkan orang yang sering membeli makanan siap saji.

Hal ini karena saat memasak makanan sendiri di rumah, Anda dapat menentukan bahan makanan, jenis nutrisi, dan cara memasaknya sesuai dengan kebutuhan setiap anggota keluarga.

Meski demikian, bukan berarti Anda dan keluarga tidak boleh mengonsumsi makan siap saji sama sekali. Hanya saja, Anda perlu memperhatikan kandungan nutrisi di dalam makanan siap saji atau makanan kemasan yang akan disantap.

Sebagai contoh, bila Anda dan keluarga ingin mengonsumsi mi instan, cobalah pilih produk mi instan yang tidak menggunakan pewarna buatan dan terbuat dari bahan alami, seperti brokoli, serta tidak menggunakan penguat rasa.

Selain itu, Anda juga bisa memilih produk mi instan yang mempunyai logo “pilihan lebih sehat” pada kemasannya. Logo ini dikeluarkan oleh Badan Pengawas Obat dan Makanan (BPOM) dengan tujuan agar konsumen dapat lebih bijak dalam membeli makanan dan minuman kemasan yang lebih sehat.

Itulah beberapa hal yang dapat dilakukan untuk menjaga kesehatan keluarga. Meski terkesan mudah, tetapi diperlukan komitmen yang tinggi untuk menjalankan berbagai cara menjaga kesehatan keluarga tersebut secara konsisten dalam kehidupan sehari-hari demi mendapatkan manfaatnya dalam jangka panjang.

Namun, bila Anda atau anggota keluarga mengalami keluhan tertentu, seperti demam, sakit perut, pusing, atau masalah kesehatan lainnya, meski telah menerapkan berbagai cara menjaga kesehatan keluarga di atas, jangan ragu untuk memeriksakan diri ke dokter guna mendapatkan penanganan yang sesuai.</p>
</ul>


    </main>
     <footer class="site-footer">
 <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>HelloMOM'S</h3>
            <p>
              A108 Jogja Streets <br>
              DIY, NY 535022<br>
              INDONESIA <br><br>
              <strong>Phone:</strong> 100200<br>
              <strong>Email:</strong> ibupintar@hellomoms.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <i class="bx bx-chevron-right"></i> <a href="#home">Beranda</a> <br>
              <i class="bx bx-chevron-right"></i> <a href="#about">Tentang kami</a> <br>
              <i class="bx bx-chevron-right"></i> <a href="#featured-articles">Articles</a> <br>
              <i class="bx bx-chevron-right"></i> <a href="#team">Team</a> <br>
              <i class="bx bx-chevron-right"></i> <a href="#pricing">Harga</a> <br>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <i class="bx bx-chevron-right"></i>Chat Bersama Dokter
              <i class="bx bx-chevron-right"></i>Artikel Kesehatan
              <i class="bx bx-chevron-right"></i>Personal Konsultasi
              <i class="bx bx-chevron-right"></i>Reservasi 24jam  <br>
              <i class="bx bx-chevron-right"></i>Asuransi BPJS
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Newsletter</h4>
            <p>Jadi bagian dari komunitas Ibu Pintar dengan bergabung dengan newslater kami</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    
    <div class="d-flex justify-content-center">
        <img src="http://localhost:8055/assets/46d36517-5b7e-4963-9456-6cc435406275?access_token=hellomoms" style="width:50px;height:50px">
    
        <h1>Hello MOM'S</h1>
    </div>
    <p>© 2022 Wahyu Nugroho. All rights reserved.</p>
  </footer> <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
  </body>
</html>
